/* --- Color Scheme --- */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --navyblue-modal: #2e2f4266;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --modal: #abacb3;
  --grey: #808080;
  --white: #fff;
  --dairy: #fcfcfc;

  --hero-gradient: #2e2f42b3;

  --shadow-text: #00000040;
  --shadow-box: #00000026;

  --shadow-side: #2e2f4214;
  --shadow-bottom: #2e2f4229;

  --filter-one: #0000001f;
  --filter-two: #00000014;
  --filter-three: #0000001a;

  --shadow-modal-one: #00000033;
  /* --shadow-modal-two: #00000033; filter one*/
  --shadow-modal-three: #00000024;

  --link-underline: #0000ff00;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* --- Color Scheme --- */

/* ---- Typography ---- */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .32px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: .72px;
}

h3 {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .4px;
}

h4 {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .4px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  color: var(--slate);
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: .54px;
}
/* ---- Typography ---- */

/* --- Header Style --- */
.body-header {
  background: var(--white);
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px 0px var(--shadow-side),
              0px 1px 1px 0px var(--shadow-bottom),
              0px 2px 1px 0px var(--shadow-side);
}

.header {
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}

.logo-header {
  color: var(--navyblue);
}

.navigation-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  margin: 24px 0 24px 76px;
}

.navigation-link {
  color: var(--navyblue);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: color var(--animation);
}

.navigation-link:hover::after {
  width: 100%;
}

.navigation-link::after {
  content: '';
  border-radius: 2px;
  width: 0;
  height: 4px;
  background-color: var(--ocean);
  position: absolute;
  bottom: -27.5px;
  left: 0;
  transition: width var(--animation);
}

.navigation-active::after {
  width: 100%;
}

.address-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  margin: 24px 0;
}

.address-link {
  color: var(--slate);
  font-style: normal;
  text-decoration: none;
  transition: color var(--animation);
}

.navigation-link:hover,
.navigation-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* Mobile Modal */
.menu-toggle {
  display: none;
}

.menu-close {
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--navyblue);
  border: 1px solid var(--navyblue-modal);
  position: absolute;
  right: 24px;
  top: 24px;
  transition: color var(--animation),
              background-color var(--animation),
              border-color var(--animation);
}

.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 40px;
  margin-top: 80px;
  gap: 40px;
}

.mobile-navigation-link {
  color: var(--navyblue);
  font-weight: 500;
  text-decoration: none;
  position: relative;
  transition: color var(--animation);
}

.mobile-active {
  color: var(--ocean);
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 284px;
  padding-left: 40px;
  gap: 40px;
}

.mobile-number-link {
  color: var(--ocean);
}

.mobile-email-link {
  color: var(--slate);
}

.mobile-socmed-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-bottom: 40px;
  gap: 56px;
}
/* --- Header Style --- */

/* ---- Main Style ---- */

/* Hero Section */
.hero-section {
  background: var(--navyblue);
  background: linear-gradient( var(--hero-gradient), 
                               var(--hero-gradient) ), 
              url('../images/people-office-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: var(--white);
  text-align: center;
  text-shadow: 0px 4px 4px var(--shadow-text);
  width: 496px;
  margin-bottom: 48px;
}

.order-button {
/* Button Style */
  background-color: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px var(--shadow-box);
  padding: 16px 32px;
  transition: background-color var(--animation);
/* Text Style */
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .64px;
}

.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}

/* Modal Style */
.backdrop {
  background-color: var(--navyblue-modal);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity var(--animation);
}

.backdrop.conceal {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 24px;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 584px;
  background-color: var(--dairy);
  box-shadow: 0px 2px 1px 0px var(--shadow-modal-one),
              0px 1px 3px 0px var(--filter-one),
              0px 1px 1px 0px var(--shadow-modal-three);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);
}

.modal-close {
  background-color: var(--cornflower);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--navyblue);
  border: 1px solid var(--navyblue-modal);
  position: absolute;
  right: 24px;
  top: 24px;
  transition: color var(--animation),
              background-color var(--animation),
              border-color var(--animation);
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: var(--navyblue);
  transition: fill var(--animation);
}

.modal-close:hover {
  background-color: var(--ocean);
  border-color: var(--ocean);
  color: var(--cloud);
}

.modal-close:hover .modal-close-icon {
  fill: var(--cloud);
}

.modal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-header {
  color: var(--navyblue);
  text-align: center;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .48px;
}

.form-input {
  width: 360px;
  height: 40px;
  padding: 11px 16px 11px 38px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  transition: border var(--animation);
}

.input-icon {
  position: absolute;
  left: 40px;
  width: 18px;
  height: 24px;
  transform: translateY(95%);
  fill: var(--navyblue);
  transition: fill var(--animation);
}

.form-textarea {
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal);
  transition: border var(--animation);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid var(--iris);
}

.form-input:hover + .input-icon,
.form-input:focus + .input-icon {
  fill: var(--iris);
}

.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .48px;
}

.form-terms {
  display: block;
  color: var(--lightslate);
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .48px;
}

.modal-checkbox {
  /* appearance: none; */
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  opacity: 0;
}

.checkbox-icon {
  border: 1px solid var(--navyblue-modal);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  padding: 3px 2px;
  fill: var(--white);
  cursor: pointer;
  transition: border var(--animation);
}

.modal-checkbox:checked + .checkbox-icon {
  border-color: var(--iris);
  background-color: var(--iris);
}

.checkbox-icon:hover,
.checkbox-icon:focus {
  border: 1px solid var(--iris);
}

.checkbox-text {
  margin-left: 9px;
  margin-top: 3px;
}

.form-agreement {
  color: var(--iris);
  text-decoration: underline;
  line-height: 16px;
  transition: color, text-decoration-color var(--animation);
}

.form-agreement:hover,
.form-agreement:focus {
  color: var(--ocean);
  text-decoration-color: var(--link-underline);
}

.form-send {
  margin-top: 24px;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px var(--shadow-box);
  color: var(--white);
  font-weight: 500;
  letter-spacing: .64px;
  transition: background-color var(--animation);
}

.form-send:hover,
.form-send:focus {
  background-color: var(--ocean);
}
/* Hero Section */

/* Advantage Section */
.advantage-section {
  background: var(--white);
  padding-top: 120px;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.advantage-background {
  background: var(--cloud);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 264px/*100%*/;
  height: 112px;
}
/* Advantage Section */

/* Service Section */
.service-section {
  background: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
}

.service-title {
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 72px;
}

.service-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.service-list img {
  border: 1px solid var(--cornflower);
}
/* Service Section */

/* Team Section */
.team-section {
  background: var(--cloud);
  padding: 120px 0;
}

.team-title {
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 0px 0px 4px 4px;
  background: var(--color-white);
  box-shadow: 0px 2px 1px 0px var(--shadow-side),
              0px 1px 1px 0px var(--shadow-bottom),
              0px 1px 6px 0px var(--shadow-side);
}

.team-details {
  display: flex;
  width: 232px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.team-socmed-list {
  display: inline-flex;
  gap: 24px;
}

.team-socmed-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  transition: background-color var(--animation);
}

.team-socmed-item:hover,
.team-socmed-item:focus {
  background-color: var(--ocean);
}

.team-socmed-icon {
  width: auto;
  fill: var(--cloud);
}
/* Team Section */

/* Customer Section */
.customer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0;
}

.customer-title {
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 72px;
}

.customer-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.customer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  transition: border var(--animation);
}

.customer-icon {
  width: auto;
  fill: var(--lightslate);
  transition: fill var(--animation);
}

.customer-item:hover,
.customer-item:focus {
  border: 1px solid var(--ocean);
}

.customer-item:hover svg,
.customer-item:focus svg {
  fill: var(--ocean);
}
/* Customer Section */
/* ---- Main Style ---- */

/* --- Footer Style --- */
.body-footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer {
  display: flex;
  align-items: flex-start;
  /* gap: 120px */
}

.footer-logo {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  width: 264px;
  margin-top: 16px;
}

.footer-platforms {
  margin-left: 120px;
}

.footer-socmed,
.footer-form-subscription {
  color: var(--white);
  font-weight: 500;
}

.footer-socmed-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  margin-top: 16px;
}

.footer-socmed-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  transition: background-color var(--animation);
}

.footer-socmed-item:hover,
.footer-socmed-item:focus {
  background-color: var(--green);
}

.footer-socmed-icon {
  width: auto;
  fill: var(--cloud);
}

.footer-form-subscribe {
  width: auto;
  fill: var(--white);
}

.footer-form form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer-form {
  flex-shrink: 0;
  margin-left: 80px;
}

.footer-form-label {
  display: block;
  color: var(--white);
  font-weight: 500;
}

.footer-form-input {
  color: var(--white);
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  display: flex;
  margin-top: 16px;
  font-size: 14px;
  flex-shrink: 0;
  background: var(--navyblue);
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px var(--shadow-box);
}

.footer-form-input::placeholder {
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .48px;
}

.subscribe-button {
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: 24px;
  border: none;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .64px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--iris);
  transition: background-color var(--animation);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean);
}
/* --- Footer Style --- */

/* -- Portfolio Style -- */
.portfolio-section {
  flex-direction: column;
  padding: 96px 0 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
/* Button Style */
  background: var(--cloud);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
/* Text Style */
  color: var(--iris);
  padding: 12px 24px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .64px;
  transition: background-color var(--animation),
              border var(--animation),
              box-shadow var(--animation);
}

.filter-button:hover,
.filter-button:focus {
/* Button Style */
  background-color: var(--ocean);
  border: 1px solid var(--ocean);
  box-shadow: 0px 2px 2px 0px var(--filter-one),
              0px 2px 1px 0px var(--filter-two),
              0px 3px 1px 0px var(--filter-three);
/* Text Style */
  color: var(--white);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  background: var(--white);
  transition: box-shadow var(--animation);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px var(--shadow-side),
              0px 1px 1px 0px var(--shadow-bottom),
              0px 1px 6px 0px var(--shadow-side);
  cursor: pointer;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.portfolio-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  background-color: var(--iris);
  color: var(--cloud);
  transform: translateY(100%);
  transition: transform var(--animation);
}

.portfolio-item:hover .portfolio-content {
  transform: translateY(0);
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
}
/* -- Portfolio Style -- */

/* Mobile View */
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding: 80px 35px 40px 0; */
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px var(--shadow-modal-one),
              0px 1px 3px 0px var(--filter-one),
              0px 1px 1px 0px var(--shadow-modal-three);
  transform: translateX(100%);
  transition: transform var(--animation);
}

@media only screen and (max-width: 428px) {
  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .72px;
  }

  h3 {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .72px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header.container {
    width: 396px;
    padding: 24px 0;
  }

  section > .container {
    width: 396px;
    padding: 24px 0;
  }
  
  .container {
    width: 775px;
    margin: 0 auto;
    padding: 24px 16px 22px 16px;
  }

  .navigation-list,
  .address-list {
    display: none;
  }

  .menu-toggle {
    display: flex;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
  }

  .hero-section {
    padding: 112px 0;
  }

  .hero-title {
    width: 320px;
    margin-bottom: 72px;
  }

  .advantage-section {
    padding: 96px 0;
  }

  .advantage-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 396px;
    gap: 72px;
  }

  .advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: left;
  }

  .advantage-background {
    display: none;
  }

  .service-section {
    display: none;
  }

  .team-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0;
  }

  .team-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }

  .customer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
  }

  .customer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .body-footer {
    padding: 96px 0;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 396px;
    gap: 72px;
  }

  .footer-footnote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-platforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .footer-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
  }
  
  .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .footer-form-input {
    width: 398px;
  }

  .portfolio-section {
    padding: 48px 0;
  }

  .filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    margin-bottom: 48px;
  }

  .portfolio-card img {
    width: 396px;
    height: auto;
  }
}

/* Tablet View */
@media only screen and (min-width: 429px) and (max-width: 768px) {
  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .72px;
  }

  h3 {
    color: var(--navyblue);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .72px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  section > .container {
    width: 768px;
    padding: 0;
  }

  .footer.container {
    width: 768px;
    padding: 24px 0;
  }
  
  .container {
    width: 775px;
    margin: 0 auto;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin: 0;
  }

  .hero-section {
    padding: 112px 0;
  }

  .advantage-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
    margin-top: 96px;
    margin-bottom: 96px;
  }

  .advantage-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    text-align: left;
    width: 356px;
    padding: 0 16px;
  }

  .advantage-background {
    display: none;
  }

  .service-section {
    display: none;
  }

  .team-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 768px;
    padding: 96px 0;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
  }

  .customer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
    width: 768px;
  }

  .customer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 72px;
    column-gap: 35px;
  }

  .body-footer {
    padding: 96px 0;
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 736px;
    gap: 72px;
  }

  .footer-footnote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .footer-platforms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }

  .footer-form form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: baseline;
    text-align: left;
    gap: 16px;
  }
  
  .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
  }

  .portfolio-card img {
    width: 356px;
    height: auto;
  }
}